{% if question.risk_level != None and question.response_type == 'BOOLEAN' and question.response == 'no' %}
<div id="risk_level" class="">
    <h4>Nível de risco identificado:</h4>
    {%if question.risk_level == 5 %}
    <span class="bg-red-100 text-red-800 text-xs font-medium me-2 rounded-lg px-2 py-1">Muito Alto</span>
    {%endif%}
    {%if question.risk_level == 4 %}
    <span class="bg-orange-100 text-orange-800 text-xs font-medium me-2 rounded-lg px-2 py-1">Alto</span>
    {%endif%}
    {%if question.risk_level == 3 %}
    <span class="bg-yellow-100 text-yellow-800 text-xs font-medium me-2 rounded-lg px-2 py-1">Médio</span>
    {%endif%}
    {%if question.risk_level == 2 %}
    <span class="bg-lime-100 text-lime-800 text-xs font-medium me-2 rounded-lg px-2 py-1"></span>
    {%endif%}
    {%if question.risk_level == 1 %}
    <span class="bg-green-100 text-green-800 text-xs font-medium me-2 rounded-lg px-2 py-1">Baixo</span>
    {%endif%}
</div>
{% else %}
<div id="risk_level" class=""></div>
{%endif%}