# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Environment variables
.env

# Virtual environment
.venv/
venv/
env/
ENV/

# SQLite database
*.sqlite3
*.db

# Flask cache
*.log
instance/

# Pytest cache
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/
*.iml
.ropeproject
