<div>
    <h3 class="text-md font-bold mb-2">Adicionar Perguntas:</h3>
    <form hx-post="/sections/{{section_id}}/questions" hx-swap="innerHTML" hx-target="#questions">
        <div class="flex gap-2 items-center">
            <textarea name="title" id="title" placeholder="Pergunta" class="w-full border border-gray-300 rounded px-3 py-2"></textarea>
            <!-- <label for="response_type">Tipo de resposta:</label> -->
            <select name="response_type" id="response_type" class="border border-gray-300 rounded px-3 py-2">
                <option value="">Tipo de Resposta</option>
                <option value="TEXT">Texto</option>
                <option value="BOOLEAN">Sim/Não</option>
            </select>
            <label class="inline-flex items-center cursor-pointer">
                <input type="checkbox" name="required" id="required" class="sr-only peer">
                <div class="relative w-9 h-5 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-4 after:w-4 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
                <span class="ms-3 text-sm font-medium text-gray-900">Obrigatória</span>
            </label>
        </div>
        <input type="submit" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 mt-2" value="Adicionar">
    </form>
</div>
<h3 class="text-md font-bold mb-2">Questões:</h3>
<div class="overflow-y-auto max-h-96">
    
    {% for question in template_questions %}
    <div class="mb-2">
        <form class="flex gap-2 ">
            <input type="number" name="number" id="number" class="w-20 border border-gray-300 rounded px-3 py-2" value="{{ question.number }}">
            <textarea name="title" id="title" class="w-full border border-gray-300 rounded px-3 py-2">{{ question.title }}</textarea>
            <select name="response_type" id="response_type" class="w-24 border border-gray-300 rounded px-3 py-2" value="{{ question.response_type }}">
                <option value="TEXT">Texto</option>
                <option value="BOOLEAN">Sim/Não</option>
            </select>
            <label class="inline-flex items-center flex-col cursor-pointer">
                <input type="checkbox" name="required" id="required" class="sr-only peer" {% if question.required %} checked {% endif %}>
                <div class="relative w-9 h-5 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-4 after:w-4 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
                <span class="ms-3 text-sm font-medium text-gray-900">Obrigatória</span>
            </label>
            <input type="hidden" name="question_id" value="{{ question.id }}">
            <input type="hidden" name="section_id" value="{{ section_id }}">
            <button type="submit" class="bg-red-500 text-white px-2 py-2 rounded hover:bg-red-600" hx-delete="/questions/{{ question.id }}" >
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
                <path d="M2 3a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3Z" />
                <path fill-rule="evenodd" d="M13 6H3v6a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V6ZM5.72 7.47a.75.75 0 0 1 1.06 0L8 8.69l1.22-1.22a.75.75 0 1 1 1.06 1.06L9.06 9.75l1.22 1.22a.75.75 0 1 1-1.06 1.06L8 10.81l-1.22 1.22a.75.75 0 0 1-1.06-1.06l1.22-1.22-1.22-1.22a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
              </svg>
            </button>
        </form>
    </div>
    {% endfor %}
</div>