<div class="overflow-y-auto max-h-96 flex">

    {% for question in questions %}
    <div class="grid grid-row gap-4">
        <div>
            <span
                class="inline-flex items-center rounded-md bg-gray-50 px-2 py-1 text-xs font-medium text-gray-600 ring-1 ring-inset ring-gray-500/10">
                Q{{ question.section.number }}.{{ question.number }}
            </span>
            {% if question.required == True %}
            <span
                class="inline-flex items-center rounded-md bg-red-50 px-2 py-1 text-xs font-medium text-red-700 ring-1 ring-inset ring-red-600/10">
                Obrigatória
            </span>
            {% endif %}
        </div>
        <div>
            <p>{{ question.title }}</p>
        </div>
        <div>
            {% if question.response_type == 'BOOLEAN' %}
            <form>
                <div class="flex items-center mb-2">
                    <input id="response_yes" type="radio" value="yes" name="response"
                        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                    <label for="response_yes" class="ms-2 font-medium">Sim</label>
                </div>
                <div class="flex items-center">
                    <input id="response_no" type="radio" value="no" name="response"
                        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                    <label for="response_no" class="ms-2 font-medium">Não</label>
                </div>
            </form>
            {% elif question.response_type == 'TEXT' %}
            <form>
                <textarea name="response" id="response"></textarea>
            </form>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>