{% extends "base.html" %}
{% block title %}Cadastro de Clientes{% endblock %}

{% block content %}
<div class="bg-white rounded-lg shadow p-4 flex justify-between items-center gap-2">
    <div id="template_name_and_description">
        <h2 class="text-lg font-bold">{{ template.name }}</h2>
        <span class="text-gray-600 text-sm">{{ template.description }}</span>
    </div>
    <div id="template_risk_link">
        <a href="/templates/{{template.id}}/risks"
            class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">Configurar riscos
        </a>
    </div>
</div>

<div class="flex gap-2">
    <aside id="sections-sidebar" class="bg-white rounded-lg shadow p-4 w-64 space-y-6 mt-2">
        <form action="/templates/{{template.id}}/sections" method="POST"
            class="flex gap-1 justify-between items-center">
            <div class="">
                <input type="text" id="name" name="name" class="w-full border border-gray-300 rounded px-2 py-1"
                    placeholder="Adicionar seção" required>
                <!-- <input type="hidden" name="template_id" value=""> -->
            </div>
            <div class="">
                <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
                        <path
                            d="M8.75 3.75a.75.75 0 0 0-1.5 0v3.5h-3.5a.75.75 0 0 0 0 1.5h3.5v3.5a.75.75 0 0 0 1.5 0v-3.5h3.5a.75.75 0 0 0 0-1.5h-3.5v-3.5Z" />
                    </svg>
                </button>
            </div>
        </form>
        <div id="sections" hx-trigger="load" hx-swap="innerHTML" hx-get="/templates/{{ template.id }}/sections"></div>
    </aside>

    <div class="bg-white rounded-lg shadow p-4 mt-2 w-full">
        <details open>
            <summary class="text-md font-bold mb-2">Relacionar componente</summary>
            <div id="components" class="ml-4">
                <form action="" method="post">
                    <label class="block mb-2 text-gray-700">Buscar Componente:</label>
                    <input type="text" placeholder="Digite para buscar"
                        class="w-full border border-gray-300 rounded px-4 py-2 mb-4 focus:ring-2 focus:ring-blue-500" />

                    <label class="block mb-2 text-gray-700">Selecione o Componente:</label>
                    <select
                        class="w-full border border-gray-300 rounded px-4 py-2 mb-4 focus:ring-2 focus:ring-blue-500"
                        name="component_id">
                        <option>Selecione</option>
                        {% for component in components %}
                        <option value="{{ component.id }}">
                            {{ component.name }} - {{ component.solution.name }}
                        </option>
                        {% endfor %}
                    </select>
                </form>
            </div>
        </details>
        <div id="questions" hx-trigger="load" hx-swap="innerHTML" hx-target="#questions"
            hx-get="/templates/sections/{% if template_sections|length > 0 %}{{ template_sections[0].id }}{% endif %}/questions">
        </div>
    </div>
</div>
{% endblock %}