{% extends "base.html" %}
{% block title %}Cadastro de Clientes{% endblock %}

{% block content %}
<div class="bg-white rounded-lg shadow p-4 flex justify-between items-center gap-2">
    <div id="template_name_and_description">
        <h2 class="text-lg font-bold">{{ template.name }}</h2>
        <span class="text-gray-600 text-sm">{{ template.description }}</span>
    </div>
    <div id="template_risk_link">
        <a href="/templates/{{template.id}}/risks"
            class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">Configurar riscos
        </a>
    </div>
</div>

<div class="flex gap-2">
    <aside id="sections-sidebar" class="bg-white rounded-lg shadow p-4 w-64 space-y-6 py-4 px-4 mt-2">
        <form action="/templates/{{template.id}}/sections" method="POST">
            <div class="">
                <input type="text" id="name" name="name" class="w-full border border-gray-300 rounded px-2 py-1"
                    placeholder="Adicionar seção" required>
                <!-- <input type="hidden" name="template_id" value=""> -->
            </div>
        </form>
        <div>
            <h3 class="text-md font-bold mb-2">Seções:</h3>
            {% for section in template_sections %}
            <div class="mb-2 mt-2 grid grid-cols-2 w-full">
                <div class="justify-self-start" hx-get="/templates/sections/{{ section.id }}/questions"
                    hx-trigger="click" hx-target="#questions">{{
                    section.number }} - {{ section.name }}
                </div>
                <button type="submit" class="bg-red-500 text-white px-2 rounded hover:bg-red-600 justify-self-end"
                    hx-delete="/templates/{{ template.id }}/sections/{{ section.id }}" hx-redirect="true">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
                        <path fill-rule="evenodd"
                            d="M5 3.25V4H2.75a.75.75 0 0 0 0 1.5h.3l.815 8.15A1.5 1.5 0 0 0 5.357 15h5.285a1.5 1.5 0 0 0 1.493-1.35l.815-8.15h.3a.75.75 0 0 0 0-1.5H11v-.75A2.25 2.25 0 0 0 8.75 1h-1.5A2.25 2.25 0 0 0 5 3.25Zm2.25-.75a.75.75 0 0 0-.75.75V4h3v-.75a.75.75 0 0 0-.75-.75h-1.5ZM6.05 6a.75.75 0 0 1 .787.713l.275 5.5a.75.75 0 0 1-1.498.075l-.275-5.5A.75.75 0 0 1 6.05 6Zm3.9 0a.75.75 0 0 1 .712.787l-.275 5.5a.75.75 0 0 1-1.498-.075l.275-5.5a.75.75 0 0 1 .786-.711Z"
                            clip-rule="evenodd" />
                    </svg>
                </button>
            </div>
            <hr>
            {% endfor %}
        </div>
    </aside>

    <div class="bg-white rounded-lg shadow p-4 mt-2 w-full">
        <div id="questions" hx-trigger="load" hx-swap="innerHTML" hx-target="#questions"
            hx-get="/templates/sections/{% if template_sections|length > 0 %}{{ template_sections[0].id }}{% endif %}/questions">
        </div>
    </div>
</div>
{% endblock %}